body {

}
.largebutton {
    width: 10em;  height: 2em;
    background-color:gray;
    color:white; 
    font-weight:bold;
}
div {
    margin-bottom:5px;
}
.alert{
    font:bold 12px arial large;
    color:red;
}
