@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>ASP.NET</h1>
    <div class="row">
       
    </div>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a><input type="button" id="btnUpdate" value="update" /></p>
</div>
<script>
    $(document).ready(function () {
        $("#btnUpdate").click(function () {
            var d = {

                UserName: "wadepan",
                rdate: "1/1/2006",
                ticker: "MSFT123"
            };
      
          
            
            $.ajax({
                url: 'http://managememobileservice.azurewebsites.net/api/Stock/PostPeople',
                type: 'POST',
                data: d,
                dataType:'json',

                success: function (data) {
                    alert("success");
                },
                error: function (jqxhr, textStatus, error) {
                    alert("failed"); 
                    debugger

                    

                }

            });
        });
    });
</script>
